@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

body, html {
    height: 100%;
}

.logo {
    height: 40px;
}

.hero-img {
    background-image: url("../img/hero_shot.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-outer {
    height: 100%;
}

.cover-text {
    color: #fff;
    font-family: Oxygen, sans-serif;
    top: 100px;
    left: 50px;
    position: absolute;
}

.cover-text h2 {
    font-family: Fjalla One, sans-serif;
}

.intro, .problem, .solution {
    margin-top: 100px;
}

.section-ext {
    margin-top: 25px;
}

.section-last {
    margin-bottom: 70px;
}

/*-------------------------------------------- footer */

footer {
    margin: 30px 30px;
}

.social-links li {
    list-style-type: none;
    float: right;
    margin-right: 30px;
}

/*-------------------------------------------- arrow testing */

.arrow {
    cursor: pointer;
    position: relative;
    bottom: -2rem;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 40px;
}

.bounce {
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}